.github
.git
.vscode

Dockerfile

dist
dex_repo
logs
node_modules

.editorconfig
.gitignore

nodemon.json

1-6-to-present-changelist.json
*.md

learnset-output.ts
pokedex-output.ts

*.txt

Procfile

data/mods/
!data/mods/gen8eliteredux/
!data/mods/ssb/
!data/mods/gen8/